@import url('satoshi.css');
@import url('clash-display.css');

/* banner section  */

.banner_section {
  background-image: url('/images/backgroud.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 704px;
  width: 100%;
  position: relative;
}
.card-container {
  padding: 48px 61px 46px 56px;

  width: 630px;
  height: 444px;
  background-color: #fff;
  position: absolute;
  right: 200px;
  top: 100px;
}
.card-container h3 {
  font-family: 'ClashDisplay-Regular';
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
}
.card-container p {
  font-family: 'Satoshi-Regular';
  font-size: 18px;
  font-weight: 400;
  color: rgba(91, 86, 118, 1);
  line-height: 27px;
}
.card-button {
  font-family: 'Satoshi-Regular';
  margin-top: 40px;
  background: var(--light-grey, #f9f9f9);
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  transition: 0.1s;

  border: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.card-button a {
  color: rgba(42, 37, 75, 1);
  text-decoration: none;
}
/* brand-section */
.brand-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand-section h3 {
  font-family: 'ClashDisplay-Regular';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
#cards-container {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  width: 212px;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--light-grey, #f9f9f9);
  gap: 10px;
}
.card h2 {
  font-family: 'ClashDisplay-Regular';
}
.card p {
  font-family: 'Satoshi-Regular';
}
#products-cards-container {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  margin-top: 130px;
  flex-wrap: wrap;
}
.productCard h2 {
  font-family: 'ClashDisplay-Regular';
}
.productCard p {
  font-family: 'Satoshi-Regular';
}
.idea-section-container {
  padding-top: 25px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.idea-container {
  background-color: rgba(42, 37, 75, 1);
  color: white;
  display: flex;
  width: 630px;
  padding: 64px 75px 54px 64px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.idea-container h3 {
  font-family: 'ClashDisplay-Regular';

  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.idea-container p {
  font-family: 'Satoshi-Regular';

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 130px;
}
.idea-section-container img {
  width: 630px;
}

/* newsletter */
.newsletter-section {
  background-image: url('/images/sunlight.png');
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .newsletter-section img {
  margin-top: 50px;
  background-repeat: no-repeat;
  width: 100%;
  max-height: 444px;
} */
.text-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-container h3 {
  font-family: 'ClashDisplay-Regular';
  font-size: 32px;
  font-style: normal;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}
.text-container p {
  font-family: 'Satoshi-Regular';
  font-size: 18px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.offer-list-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.offer-lists-container {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}
.newsletter-email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.newsletter-email-input {
  background-color: rgba(255, 255, 255, 0.15);
  border: 0px;
  display: flex;
  padding: 17px 360px 17px 32px;
  align-items: center;
  flex: 1 0 0;
  background-color: white;
  align-self: stretch;
}
.newsletter-sign-button {
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  border: 0px;
  gap: 10px;
  color: white;
  background-color: rgba(42, 37, 75, 1);
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .divider {
    display: none;
  }
  #bars-icon {
    display: unset;
  }
  .cart-user-container {
    display: none;
  }
  .navbar-toggler {
    border: none;
    background: transparent;
    cursor: pointer;
    display: block;
    padding: 0;
  }
  .search-container {
    width: unset;
    flex-direction: row-reverse;
  }
  .search-input {
    margin-left: -199px;
  }
  .navbar-header {
    flex-direction: row-reverse;
  }
  .toggle-search-container {
    display: flex;
    gap: 31px;
  }
  .navbar-items {
    display: none;
  }
  .card-container {
    position: unset;
    width: 100%;
    height: 50%;
    padding: 2px;
  }

  .idea-section-container img {
    width: 100%;
  }
  .newsletter-email-input {
    padding: 17px 60px 17px 32px;
    width: 100%;
  }

  .idea-container {
    background-color: rgba(42, 37, 75, 1);
    color: white;
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .idea-container p {
    margin: 0;
  }
  .card-button {
    justify-content: center;
    width: 100%;
  }
}
